<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcea-35fz8Uc5YDhNPgbgceteX3rU02eM</string>
	<key>GCM_SENDER_ID</key>
	<string>641553859317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charcha.app.charcha</string>
	<key>PROJECT_ID</key>
	<string>charcha-1c46a</string>
	<key>STORAGE_BUCKET</key>
	<string>charcha-1c46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641553859317:ios:bbe26fdc48f219870a7bbc</string>
</dict>
</plist>